#tools {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
  gap: 1.5rem;
  padding: 2rem;
}
.tool-card {
  background-color: #f0f0f000;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  text-align: center; 
  transition: transform 0.3s;
}

.tool-card:hover {
  border-color: #1fe211;
  background-color: #c3c7fb1d;
  transform: scale(1.05);
}
.tools-img {
  width: 50px;   
  height: 50px;
  object-fit: contain;
  margin-bottom: 1rem;
}
@media (max-width: 768px) {
  #tools {
    grid-template-columns: repeat(2, 1fr); /* ✅ 2 per row */
  }
}